<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsApplication1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication1.My.MySettings.CRIME1connectionstring"
            connectionString="Data Source=HP\SQLEXPRESS;Initial Catalog=CRIME1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <userSettings>
        <WindowsApplication1.My.MySettings>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </WindowsApplication1.My.MySettings>
    </userSettings>
</configuration>
